altgraph==0.17.4
greenlet==3.2.4
packaging==25.0
pefile==2023.2.7
playwright==1.54.0
pyee==13.0.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyperclip==1.9.0
pywin32-ctypes==0.2.3
setuptools==80.9.0
typing_extensions==4.14.1
uv==0.8.10
